@import "normalize";

$white: #f1f1f1;
$light: #a2ab94;
$dark: #343631;


body {
  box-sizing: border-box;
  background: #e0e5b6;
  font-family: 'Cutive Mono', monospace;
}

section {
  counter-reset: step;
}

// body {
//   counter-reset: my-awesome-counter;
// }
// section {
//   counter-increment: my-awesome-counter;
// }
// section:before {
//   content: counter(my-awesome-counter);
// }

h1 {
  color: $dark;
  margin: 2.5% 0%;
  text-align: center;
  margin-bottom: 0;
}
 
h2 {
  font-size: 12px;
  text-align: center;
  color: $light;
  margin: 0;
}

h3 {
  text-align: center;
  font-size: 14px;
  margin-top: 3px;
}

h4 {
  font-size: 24px;
  margin-top: 32px;
  margin-left: -24px;
  counter-increment: step;
}

h4:before {
  content: counter(step, lower-roman) ". " ;
  text-align: right;
}

h4:first-child {
  margin-top: 12px;
}

.terranium {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
}

.terranium ul {
    -webkit-padding-start: 0px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0;
  }

.terranium ul li {
  float: left;
  width: 15%;  
  outline: none; 
}

.terranium ul li a img {
  width: 100%;
}

a {
  text-decoration: none;
  color: $light;
  outline: none;
}

.ui-tabs-active h3 {
  text-decoration: underline;
}

li {
  list-style: none;
}

main {
  text-align: left;
  padding: 1% 15%;
  color: $dark;
  line-height: 32px;
  margin: 0;
  margin-bottom: 50px;
}



label {
  display: none;
}

input {
    line-height: 33px;
    border: 1px $dark solid;
    border-bottom: none;
    margin: 0;
    padding: 0;
    padding-left: 5px;
    background: $white;
    width: 100%;
}

input[type="submit"] {
    font-family: 'Cutive Mono', monospace;
    border-bottom: 1px $dark solid;
    padding-right: 5px;
    background: $light;
    width: 100px;
}

textarea {
  width: 100%;
  line-height: 33px;
  padding: 0;
  padding-left: 5px;
  background: $white;
  border: 1px $dark solid;
  resize: none;
  margin-bottom: -13px;
}

footer {
  height: 72px;
  background: $dark;
  color: $light;
}

.copyright {
  float: left;
  padding-left: 2%;
  line-height: 72px;
  margin: 0;
}

.social-media ul li {
  float: right;
  padding-right: 2%;
  line-height: 72px;
}

.social-media ul li:after {
  content: " // ";
}

.social-media ul li:first-child:after {
  content: "";
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-family: 'Cutive Mono', monospace;
}
::-moz-placeholder { /* Firefox 19+ */
  font-family: 'Cutive Mono', monospace;
}
:-ms-input-placeholder { /* IE 10+ */
  font-family: 'Cutive Mono', monospace;
}
:-moz-placeholder { /* Firefox 18- */
  font-family: 'Cutive Mono', monospace;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}



/////////////////////////////

@media screen and (max-width: 600px) {
  .terranium {
    flex-direction: column;
  }

  .terranium ul {
    -webkit-padding-start: 0px;
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: baseline;
    background: $dark;
    margin: 0;
  }

 .terranium ul li {
    // border-right: 1px solid $dark;
  }


  .terranium ul li a img {
    width: 45%;
    padding-left: 25%;
    margin-top: 10%;
  }

  h3 {
    text-align: center;
    font-size: 16px;
    color: $light;
    margin-top: 0px;
    margin-bottom: 17%;
  }

  main section {
    margin-top: 7%;
    font-size: 16px;
  }

  main {
    margin-bottom: 120px;
  }

  h4:first-child {
  margin-top: 24px;
}

footer {
  display: none;
}

}

