@import "normalize";

$light: #a2ab94;
$dark: #343631;

body {
  box-sizing: border-box;
  background: #e0e5b6;
  font-family: 'Cutive Mono', monospace;
}

h1 {
  color: $dark;
  margin: 2.5% 0%;
  text-align: center;
}
 
h2 {
  font-size: 12px;
  text-align: center;
  color: $light;
}

h3 {
  text-align: center;
}

.terranium {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
}

.terranium ul {
    -webkit-padding-start: 0px;
}

.terranium ul li {
  float: left;
  width: 25%;  
  outline: none;
}

.terranium ul li a img {
  width: 100%;
}

a {
  text-decoration: none;
  color: $light;
  outline: none;
}


// .soil {
//   display: flex;
//   flex-direction: column;
//   flex-wrap: wrap;
//   width: 15%;
//   margin: 0;
// }

// .soil img:hover {
//   cursor: pointer;
// }

li {
  list-style: none;
}

main p {
  text-align: center;
  padding: 1% 5%;
  color: $dark;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .terranium {
    flex-direction: column;
  }

  .terranium ul {
    -webkit-padding-start: 0px;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: baseline;
    border-top: 1px solid $dark;
    background: $light;
    margin: 0;
  }

 .terranium ul li {
    border-right: 1px solid $dark;
  }


  .terranium ul li a img {
    width: 45%;
    padding-left: 25%;
    padding-top: 1%;
  }

  h3 {
    text-align: center;
    font-size: 16px;
    color: $dark;
    margin-top: 0px;
  }

}

